#background {
	width: 600px;
	height: 600px;
	border: 2px solid #000;
	margin: auto;
	margin-top: 10px;
	background-color: #000;
}

#aliens-container {
	margin-left: 20px;
	position: absolute;
	text-align: center;
}

.aliens {
	margin-top: 20px;
	margin-left: 10px;
}

#rocket {
	position: absolute;
	margin-top: 550px;
	margin-left: 280px;
}
.bullets {
	width: 10px;
	height: 10px;
	position: absolute;
}

#score, #points {
	color: #fff;
	position: absolute;
	margin-top: 0px;
	margin-left: 5px;
	font-family: sans-serif;
	font-weight: 700;
}

#points {
	margin-left: 70px;
}

#controls-container {
	margin: auto;
	margin-top: 30px;
	text-align: left;
	width: 600px;
	height: auto;
}

.controls {
	margin-bottom: 10px;
	margin-right: 20px;
	display: inline-block;
}

.controls-titles {
	margin-top: 0px;
	font-family: sans-serif;
	display: inline-block;
}

#left {
	margin-left: 15px;
}

#right {
	margin-left: 50px;
}

#shoot {
	margin-left: 75px;
}

#end-screen {
	font-family: sans-serif;
	font-weight: 700;
	text-align: center;
	width: 600px;
	margin: auto;
	color: #fff;
	text-shadow: -3px -3px #000;
	position: absolute;
	margin-top: 50px;
	display: none;
}